<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <app-student></app-student>
  </h1> <ul>
      <li> <h2><a routerLink="other">Other</a></h2> </li>      
      <li> <h2><a routerLink="contact">Contact Us</a></h2> </li> 
      <li> <h2><a routerLink="offices">Other Offices</a></h2> </li> 
      <li> <h2><a routerLink="home">Home</a></h2> </li> 
       
      <br/>      
      <!-- 
        The router-outlet directive is used to specify the location where we want the routed component's view template to be displayed      
      -->      
      <router-outlet></router-outlet>
      
      </ul>
  
</div>

 

